@import "~bootstrap-daterangepicker/daterangepicker.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
//@import "~datatables.net-fixedcolumns-bs4/css/fixedColumns.bootstrap4.css";
@import "admin/components";
@import "admin/style";

.card .card-stats .card-stats-item .card-stats-item-label {
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap;
}
.modal-backdrop {
    position: inherit;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.modal.show .modal-content {
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
}
