<template>
  <v-app id="inspire">

    <v-navigation-drawer
      v-model="drawer"
      app
      fixed
      clipped
    >

      <v-list
        dense
      >
        <v-list-group
          v-for="item in items"
          :key="item.text"
          v-model="item.model"
          :prepend-icon="item['icon-alt']"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="(child, i) in item.children"
            :key="i"
            link
            :to="child.route"
          >
            <v-list-item-title v-text="child.text"></v-list-item-title>

            <v-list-item-icon v-if="child.icon">
              <v-icon v-text="child.icon"></v-icon>
            </v-list-item-icon>
          </v-list-item>
        </v-list-group>

      </v-list>

    </v-navigation-drawer>

    <v-app-bar
      app
      fixed clipped-left
      dense
      id="app-bar"
      :color="dark ? undefined : 'white'"
      class="v-bar--underline"
      flat
    >
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <router-link to="/">
          <img :src="logo" class=" " height="45" alt="SMKN 2 Toili Barat - PPDB">
        </router-link>
      </v-toolbar-title>

      <v-spacer></v-spacer>
      <span class="hidden-xs-only">Hi, {{ $store.state.auth.user.name }}</span>

      <notifications-menu/>
    </v-app-bar>

    <v-main class="grey lighten-4">
      <v-container transition="slide-x-transition" fluid fill-height class="mtop-15">
        <router-view :user="user"></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>
<script>
import {mapGetters, mapState} from 'vuex'
import axios from 'axios'
import NotificationsMenu from "./NotificationsMenu";
import jwtToken from '../../helper/jwt-token'

export default {
  name: 'default-layout',
  components: {NotificationsMenu},
  props: {
    source: String
  },
  computed: {
    ...mapGetters([
      'isLoggedIn'
    ]),
    ...mapState({
      user: state => state.auth
    })
  },

  data() {
    return {
      dialog: false,
      drawer: null,
      loadModal: false,
      currentUserId: null,
      date: null,
      read: 0,
      notification: [],
      userRoles: [],
      logo: null,
      items: {},
      dark: undefined,
      rtl: true,
      settings: [
        {icon: 'settings_applications', title: 'Settings', action: 'openSettings'},
        {icon: 'power_settings_new', title: 'Logout', action: 'logout'},
      ]
    }
  },

  mounted() {
    this.menu()
  },

  created() {
    this.getLogo()
    this.menu()
    // this.getItem()
  },

  methods: {
    async getLogo() {
      let response = await axios.get(`/api/logo`)
      this.logo = response.data
    },

    menu() {
      if (jwtToken.getToken()) {
        axios.get(`/api/master/menu`)
          .then(res => {
            this.items = res.data.userMenu
            localStorage.setItem('menu', JSON.stringify(res.data.userMenu))
          })
      }
    },

    getDate() {
      let date = new Date();
      this.date = date.getFullYear()
    },

    checkAction(action) {
      switch (action) {
        case 'openSettings':
          this.openSettings()
          break;
        case 'logout':
          this.logout()
          break;
      }
    },
  },
}
</script>

<style scoped>
.v-bar--underline {
  border-bottom-color: rgba(0, 0, 0, .12) !important;
}
</style>
