<template>
  <div>


  </div>
</template>

<script>
import NotificationsMenu from "./NotificationsMenu";
import jwtToken from '../../helper/jwt-token'
import axios from "axios";

export default {
  name: "AppBar",
  components: {NotificationsMenu},
  data() {
    return {
      logo: null,
      items: {},
      dark: undefined,
      rtl: true,
      drawer: null,
    }
  },

  mounted() {
    this.menu()
  },

  created() {
    this.getLogo()
    this.menu()
  },

  methods: {
    async getLogo() {
      let response = await axios.get(`/api/logo`)
      this.logo = response.data
    },

    menu() {
      if (jwtToken.getToken()) {
        axios.get(`/api/master/menu`)
          .then(res => {
            this.items = res.data.userMenu
            localStorage.setItem('menu', JSON.stringify(res.data.userMenu))
          })
      }
    }
  }
}
</script>

<style scoped>
.v-bar--underline {
  border-bottom-color: rgba(0, 0, 0, .12) !important;
}
</style>
