<template>
  <v-app>

    <v-app-bar
      app
      id="app-bar"
      :color="dark ? undefined : 'white'"
      class="v-bar--underline hidden-sm-and-up"
      flat
    >
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <router-link to="/">
          <img :src="logo" class=" " height="45" alt="SMKN 2 Toili Barat - PPDB">
        </router-link>
      </v-toolbar-title>
    </v-app-bar>

    <v-navigation-drawer
      :clipped="$vuetify.breakpoint.lgAndUp"
      v-model="drawer"
      fixed
      temporary
    >
      <v-list
        dense
      >
        <v-list-item
          v-for="item in menuItems"
          :key="item.title"
          :to="item.path"
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>{{ item.title }}</v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      id="app-bar2"
      :color="dark ? undefined : 'white'"
      class="v-bar--underline hidden-xs-only"
      flat
    >
      <v-container>
        <v-row class="align-items-baseline">
          <v-col
            cols="2"
          >
            <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
              <router-link to="/">
                <img :src="logo" class=" " height="45" alt="SMKN 2 Toili Barat - PPDB">
              </router-link>
            </v-toolbar-title>
          </v-col>

          <v-col
            cols="10"
            style="padding: 0!important;"
          >
            <v-toolbar-items class="hidden-xs-only mt-3">
              <v-btn
                text
                small
                v-for="item in menuItems"
                :key="item.title"
                :to="item.path"
                style="height: 28px!important;"
              >
                <v-icon left>{{ item.icon }}</v-icon>
                {{ item.title }}
              </v-btn>
            </v-toolbar-items>
          </v-col>
        </v-row>

      </v-container>
    </v-app-bar>

    <v-main class="grey lighten-4">
      <v-container transition="slide-x-transition" fluid fill-height>
        <router-view></router-view>
      </v-container>
    </v-main>

    <v-footer
      padless
    >
      <v-card
        flat
        tile
        width="100%"
        class="grey lighten-3 text-center"
      >
        <v-card-text>
          <v-btn
            v-for="link in links"
            :key="link.text"
            color="black"
            text
            rounded
            link
            small
            :href="link.link"
            class="my-2"
          >
            {{ link.text }}
          </v-btn>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-text>
          {{ new Date().getFullYear() }} — <strong>{{ formTitle }}</strong>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>

</template>

<script>
export default {
  name: 'auth-layout',
  data() {
    return {
      appTitle: 'Awesome App',
      sidebar: null,
      menuItems: [
        {title: 'Beranda', path: '/', icon: 'mdi-home'},
        {title: 'Daftar', path: '/ppdb/register', icon: 'mdi-file-document'},
        {title: 'Pengumuman', path: '/ppdb/announcement', icon: 'mdi-bell-ring'},
        {title: 'Cetak Bukti Daftar', path: '/ppdb/print', icon: 'mdi-printer'},
        {title: 'Masuk', path: '/login', icon: 'mdi-login-variant'}
      ],
      links: [
        {link: 'http://smkn2toilibarat.sch.id/', text: 'Website'},
        {link: 'http://smkn2toilibarat.sch.id/', text: 'Berita'}
      ],
      logo: null,
      drawer: null,
      dark: false
    }
  },

  computed: {
    formTitle() {
      return window.config.appName
    },
  },

  created() {
    this.getLogo()
  },

  methods: {
    async getLogo() {
      let response = await axios.get(`/api/logo`)
      this.logo = response.data
    },
  }

}
</script>

<style scoped>
.v-bar--underline {
  border-bottom-color: rgba(0, 0, 0, .12) !important;
}
</style>
