<template>
  <v-menu
    bottom
    left
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        icon
        color="green"
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>mdi-account-circle</v-icon>
      </v-btn>
    </template>

    <v-list>
      <v-list-item
        v-for="(item, i) in items"
        :key="i"
        @click.prevent="checkAction(item.action)"
      >
        <v-list-item-icon>
          <v-icon>
            {{ item.icon }}
          </v-icon>
        </v-list-item-icon>
        <v-list-item-title>{{ item.title }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
// Utilities

import jwtToken from "../../helper/jwt-token";

export default {
  name: 'NotificationsMenu',
  data: () => ({
    items: [
      {icon: 'mdi-settings', title: 'Settings', action: 'openSettings'},
      {icon: 'mdi-logout-variant', title: 'Logout', action: 'logout'},
    ],
    archived: false,
    icons: {
      read: '$mdiEmailOpen',
      unread: '$mdiEmailMarkAsUnread',
    },
    menu: false,
  }),
  created() {

  },

  methods: {
    checkAction(action) {
      switch (action) {
        case 'openSettings':
          this.openSettings()
          break;
        case 'logout':
          this.logout()
          break;
      }
    },

    openSettings() {
      this.$router.push({ name: 'settingProfile' })
    },

    logout() {
      jwtToken.removeToken()
      window.localStorage.removeItem('currEntry');
      this.loadModal = true
      this.$store.dispatch('unsetRole')
      this.$store.dispatch('unsetAuthUser')
        .then(() => {
          this.loadModal = false
          this.$router.push({name: 'login'})
        })
    },
  }
}
</script>
