<template>
  <v-layout>
    <v-flex xs12 md12>
      <v-container>
        <v-row>
          <v-col
            cols="12"
            class="mb-5"
          >
            <v-card
              outlined
            >
              <v-card-title>
                <span class="headline">Selamat datang</span>
              </v-card-title>
              <v-card-text>
                Selamat datang di SISTEM Informasi online {{ formTitle }}
              </v-card-text>
            </v-card>
          </v-col>
          <v-col
            cols="12"
            md="4"
          >
            <v-timeline>
              <v-timeline-item
                small
                v-for="(item, index) in timelines"
                :key="index"
              >
                <v-row class="pt-1">
                  <v-card
                    elevation="1"
                  >
                    <v-col>
                      <strong>{{ item.text }}</strong>
                      <div class="caption">
                        {{ item.description }}
                      </div>
                    </v-col>
                  </v-card>
                </v-row>
              </v-timeline-item>
            </v-timeline>
          </v-col>

          <v-col
            cols="12"
            md="8"
          >
            <v-card
              elevation="1"
            >
              <v-card-text>
                <div v-html="content"></div>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Welcome',
  props: ['user'],
  data: () => ({
    items: {},
    message: '',
    success: '',
    loading: false,
    timelines: {},
    home_data: {},
    content: '',

  }),

  computed: {
    formTitle() {
      return process.env.APP_NAME
    },
  },

  mounted() {
    this.homeData()
  },

  created() {
    this.homeData()
  },

  methods: {
    homeData() {
      axios.get(`/api/welcome-data`)
        .then(res => {
          this.timelines = res.data.timelines
          this.home_data = res.data.home_data
          this.content = res.data.home_data[0].description
        })
    },

    newReservation() {
      axios.get(`/api/reservation/max-doc-resv`)
        .then(res => {
          this.$router.push({name: 'reservationDetails', params: {id: res.data.max_num.DocEntry, status: 'add'}})
        })
    }

  }
}
</script>


<style scoped>

</style>
