<template>
  <v-layout>
    <v-flex sm12 md8 offset-md2>
      <v-toolbar flat color="white" dense>
        <v-toolbar-title class="hidden-xs-only">{{ $route.meta.title }}</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-btn
          icon
          color="green"
          dark @click="newData()"
        >
          <v-icon>mdi-plus-circle</v-icon>
        </v-btn>

        <v-tooltip
          top
          style="margin-top: 4px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              icon
              v-bind="attrs"
              v-on="on"
            >
              <v-icon @click="openAction()">mdi-file-document</v-icon>
            </v-btn>
          </template>
          <span>Informasi Halaman Depan</span>
        </v-tooltip>

        <v-btn :loading="loading" icon @click="getDataFromApi">
          <v-icon>mdi-refresh</v-icon>
        </v-btn>
      </v-toolbar>

      <div class="mt-2">
        <v-data-table
          :mobile-breakpoint="0"
          :headers="headers"
          :items="allData"
          :items-per-page="20"
          :options.sync="options"
          :server-items-length="totalData"
          :loading="loading"
          class="elevation-1"
          :footer-props="{'items-per-page-options':[20, 50, 100, -1]}"
        >
          <template
            v-slot:body="{ items }"
          >
            <tbody>
            <tr
              v-for="item in items"
              :key="item.id"
              class="test-tr"
              :style="{backgroundColor: item.Color}"
            >
              <td class="text-xs-center">{{ item.text }}</td>
              <td class="text-xs-center">{{ item.description }}</td>
              <td style="width: 200px">
                <v-tooltip
                  top
                  style="margin-top: 4px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      icon
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon small @click="editItem(item)">mdi-pencil-circle</v-icon>
                    </v-btn>
                  </template>
                  <span>Edit</span>
                </v-tooltip>

                <v-tooltip
                  top
                  style="margin-top: 4px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      icon
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon small @click="openDelete(item)">mdi-delete</v-icon>
                    </v-btn>
                  </template>
                  <span>Hapus</span>
                </v-tooltip>
              </td>
            </tr>
            </tbody>
          </template>

        </v-data-table>
      </div>
    </v-flex>

    <v-dialog
      v-model="dialogDelete"
      persistent
      scrollable
      max-width="400px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">Apakah Anda Yakin?</span>
        </v-card-title>
        <v-card-text>
          Data akan dihapus permanen.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            small
            @click="dialogDelete = false"
          >
            Tutup
          </v-btn>
          <v-btn
            color="green darken-1"
            dark
            small
            @click="deleteItem()"
          >
            Hapus
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!--Dialog Home Content-->
    <v-dialog
      v-model="dialogType"
      persistent
      scrollable
      max-width="800px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">Informasi Halaman Awal</span>
        </v-card-title>
        <v-card-text>
          <v-form>
            <v-layout wrap>
              <v-flex xs12 v-if="message">
                <div class="red darken-2 text-xs-center">
                  <span class="white--text">{{ message }}</span>
                </div>
              </v-flex>

              <v-flex md12 class="d-flex">
                <v-layout wrap>
                  <v-flex md12 sm12 xs12 class="pa-2">
                    <tiptap-vuetify
                      v-model="content"
                      :extensions="extensions"
                    />
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            small
            @click="dialogType = false"
          >
            Tutup
          </v-btn>
          <v-btn
            color="green darken-1"
            dark
            small
            :loading="submitLoad"
            @click="saveHomeContent()"
          >
            Simpan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!--dialog content-->
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-form>
            <v-layout wrap>
              <v-flex xs12 v-if="message">
                <div class="red darken-2 text-xs-center">
                  <span class="white--text">{{ message }}</span>
                </div>
              </v-flex>

              <v-flex md12 class="d-flex">
                <v-layout wrap>
                  <!--                  <v-flex md12 sm12 xs12 class="pa-2">-->
                  <!--                    <v-menu-->
                  <!--                      ref="menu"-->
                  <!--                      v-model="menu1"-->
                  <!--                      :close-on-content-click="false"-->
                  <!--                      transition="scale-transition"-->
                  <!--                      offset-y-->
                  <!--                      min-width="290px"-->
                  <!--                    >-->
                  <!--                      <template v-slot:activator="{ on, attrs }">-->
                  <!--                        <v-text-field-->
                  <!--                          v-model="form.date"-->
                  <!--                          placeholder="Tanggal"-->
                  <!--                          prepend-icon="mdi-calendar"-->
                  <!--                          readonly-->
                  <!--                          persistent-hint-->
                  <!--                          filled dense-->
                  <!--                          v-bind="attrs"-->
                  <!--                          v-on="on"-->
                  <!--                        ></v-text-field>-->
                  <!--                      </template>-->
                  <!--                      <v-date-picker-->
                  <!--                        no-title-->
                  <!--                        v-model="form.date"-->
                  <!--                        @input="menu1 = false"-->
                  <!--                      >-->
                  <!--                      </v-date-picker>-->
                  <!--                    </v-menu>-->
                  <!--                  </v-flex>-->

                  <v-flex md12 sm12 xs12 class="pa-2">
                    <v-text-field
                      v-model="form.text"
                      filled
                      dense
                      label="Judul"
                      required
                    ></v-text-field>
                  </v-flex>

                  <v-flex md12 sm12 xs12 class="pa-2">
                    <v-text-field
                      v-model="form.description"
                      filled
                      dense
                      label="Keterangan"
                      required
                    ></v-text-field>
                  </v-flex>

                </v-layout>
              </v-flex>
            </v-layout>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            small
            @click="dialog = false"
          >
            Close
          </v-btn>
          <v-btn
            color="green darken-1"
            dark
            small
            :loading="submitLoad"
            @click="save()"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-layout>
</template>

<script>
// import the component and the necessary extensions
import {
  TiptapVuetify,
  Heading,
  Bold,
  Italic,
  Strike,
  Underline,
  Code,
  Paragraph,
  BulletList,
  OrderedList,
  ListItem,
  Link,
  Blockquote,
  HardBreak,
  HorizontalRule,
  History
} from 'tiptap-vuetify'

export default {
  name: "HomeData",
  components: {TiptapVuetify},
  data() {
    return {
      menu1: '',
      totalData: 0,
      totalDataDivision: 0,
      dialogType: false,
      editedIndex: -1,
      loadNewBtn: false,
      submitLoad: false,
      dialogDelete: false,
      dialogWindow: false,
      statusProcessing: 'insert',
      dialog: false,
      message: false,
      loading: true,
      insertDivision: true,
      insert: true,
      // declare extensions you want to use
      extensions: [
        History,
        Blockquote,
        Link,
        Underline,
        Strike,
        Italic,
        ListItem,
        BulletList,
        OrderedList,
        [Heading, {
          options: {
            levels: [1, 2, 3]
          }
        }],
        Bold,
        Code,
        HorizontalRule,
        Paragraph,
        HardBreak
      ],
      // starting editor's content
      content: '',
      loadingDivision: true,
      allData: [],
      allDataDivision: [],
      department: {},
      dataItem: {},
      form: {
        id: null,
        date: null,
        text: null,
        description: null,
        year: null,
      },
      defaultItem: {
        id: null,
        date: null,
        text: null,
        description: null,
        year: null,
      },
      options: {},
      optionDivision: {},
      headers: [
        {text: 'Judul', value: 'text'},
        {text: 'Keterangan', value: 'description'},
        {text: 'Action', value: 'actions'},
      ],
    }
  },

  watch: {
    options: {
      handler() {
        this.getDataFromApi()
      },
      deep: true,
    },
  },

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'New' : 'Edit'
    },
  },

  mounted() {
    this.getDataFromApi()
  },

  methods: {
    openAction() {
      this.dialogType = true
      axios.get(`/api/master/home-data/details`)
        .then(res => {
          this.content = res.data.rows[0].description
        })
    },

    getDataFromApi() {
      this.loading = true
      let vm = this
      axios.get(`/api/master/time-line`, {
        params: {
          options: vm.options
        }
      })
        .then(res => {
          this.loading = false
          this.allData = res.data.rows
          this.totalData = res.data.total
        })
        .catch(err => {
          this.loading = false
          console.log(err.response.data)
        })
    },

    newData() {
      this.dialog = true
      this.statusProcessing = 'insert'
      this.form = Object.assign({}, this.defaultItem)
      this.message = false
    },

    editItem(item) {
      this.editedIndex = this.allData.indexOf(item)
      this.form = Object.assign({}, item)
      this.statusProcessing = 'update'
      this.dataUser = item
      this.dialog = true
      this.insert = false
    },

    openDelete(item) {
      this.dataItem = item
      this.dialogDelete = true
    },

    deleteItem(item) {
      axios.delete(`/api/master/time-line/` + this.dataItem.id)
        .then(res => {
          this.dialogDelete = false
          this.getDataFromApi()
        })
    },

    close() {
      this.dialog = false
      this.statusProcessing = 'insert'
      setTimeout(() => {
        this.form = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    saveHomeContent() {
      axios.post(`/api/master/home-data`, {
        'description': this.content
      })
        .then(res => {
          this.$swal(res.data.message);
          console.log('ok')
        })
    },

    save: function (type = 'all', row = null) {
      const vm = this
      let form, details, clearData
      let status = this.statusProcessing
      form = this.form
      let data = {
        form: form,
        status: status
      }

      if (status === 'insert') {
        this.store('post', '/api/master/time-line', data, 'insert', type)
        vm.submitLoad = false
      } else if (status === 'update') {
        this.store('put', '/api/master/time-line/' + this.form.id, data, 'update', type)
        vm.submitLoad = false
      }
    },

    store(method, url, data, type, column = 'all') {
      const vm = this
      vm.submitLoad = true;
      this.dialogLoading = true
      axios({method, url, data})
        .then(res => {
          if (res.data.errors) {
            if (res.data.validHeader) {
              this.message = res.data.message
              setTimeout(() => (this.message = false), 8000)
            } else {
              this.message = res.data.message
              setTimeout(() => (this.message = false), 8000)
            }
            vm.submitLoad = false;
            this.dialogLoading = false
          } else {
            console.log('2')
            this.dialogLoading = false
            this.dialog = false
            this.message = res.data.message
            setTimeout(() => (this.message = false), 8000)
            this.getDataFromApi()
          }
        })
        .catch(err => {
          vm.submitLoad = false
        })
    },
  }
}
</script>

<style scoped>

</style>
