<template>
  <v-layout>
    <v-flex sm12 md6 offset-md3>
      <v-toolbar flat color="white" dense>
        <v-toolbar-title class="hidden-xs-only">{{ $route.meta.title }}</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-btn
          icon
          color="green"
          dark @click="newData('department')"
        >
          <v-icon>mdi-plus-circle</v-icon>
        </v-btn>

        <v-btn :loading="loading" icon @click="getDataFromApi">
          <v-icon>mdi-refresh</v-icon>
        </v-btn>
      </v-toolbar>

      <div class="mt-2">
        <v-data-table
          :mobile-breakpoint="0"
          :headers="headers"
          :items="allData"
          :items-per-page="20"
          :options.sync="options"
          :server-items-length="totalData"
          :loading="loading"
          class="elevation-1"
          :footer-props="{'items-per-page-options':[20, 50, 100, -1]}"
        >
          <template
            v-slot:body="{ items }"
          >
            <tbody>
            <tr
              v-for="item in items"
              :key="item.id"
              class="test-tr"
              :style="{backgroundColor: item.Color}"
            >
              <td class="text-xs-center">{{ item.doc_year }}</td>
              <td class="text-xs-center">{{ item.open_date }}</td>
              <td class="text-xs-center">{{ item.status }}</td>
              <td style="width: 200px">
                <v-tooltip
                  top
                  style="margin-top: 4px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      icon
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon small @click="editItem(item)">mdi-pencil-circle</v-icon>
                    </v-btn>
                  </template>
                  <span>Edit</span>
                </v-tooltip>

                <v-tooltip
                  top
                  style="margin-top: 4px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      icon
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon small @click="openDelete(item)">mdi-delete</v-icon>
                    </v-btn>
                  </template>
                  <span>Hapus</span>
                </v-tooltip>
              </td>
            </tr>
            </tbody>
          </template>

        </v-data-table>
      </div>
    </v-flex>

    <v-dialog
      v-model="dialog"
      persistent
      max-width="400px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-form>
            <v-layout wrap>
              <v-flex xs12 v-if="message">
                <div class="red darken-2 text-xs-center">
                  <span class="white--text">{{ message }}</span>
                </div>
              </v-flex>

              <v-flex md12 class="d-flex">
                <v-layout wrap>
                  <v-flex md6 sm6 xs12 class="pa-2">
                    <v-text-field
                      v-model="form.start_year"
                      label="Tahun Awal"
                      height="25"
                      filled dense
                      readonly
                      hide-details="auto"
                    ></v-text-field>
                  </v-flex>

                  <v-flex md6 sm6 xs12 class="pa-2">
                    <v-text-field
                      v-model="form.end_year"
                      label="Tahun Akhir"
                      height="25"
                      filled dense
                      readonly
                      hide-details="auto"
                    ></v-text-field>
                  </v-flex>

                  <v-flex md12 sm12 xs12 class="pa-2">
                    <v-menu
                      ref="menu"
                      v-model="menu1"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="form.open_date"
                          placeholder="Tanggal dibuka"
                          prepend-icon="mdi-calendar"
                          readonly
                          persistent-hint
                          filled dense
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        no-title
                        v-model="form.open_date"
                        @input="menu1 = false"
                      >
                      </v-date-picker>
                    </v-menu>
                  </v-flex>

                  <v-flex md12 sm12 xs12 class="pa-2">
                    <v-radio-group
                      v-model="form.is_open"
                      label="Status"
                      row
                      hide-details="auto"
                    >
                      <v-radio
                        label="BUKA"
                        value="Y"
                      ></v-radio>
                      <v-radio
                        label="TUTUP"
                        value="N"
                      ></v-radio>
                    </v-radio-group>
                  </v-flex>

                </v-layout>
              </v-flex>
            </v-layout>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            small
            @click="dialog = false"
          >
            Tutup
          </v-btn>
          <v-btn
            color="green darken-1"
            dark
            small
            :loading="submitLoad"
            @click="save()"
          >
            Simpan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-layout>
</template>

<script>
export default {
  name: "Ppdb",
  data() {
    return {
      totalData: 0,
      totalDataDivision: 0,
      dialogType: 'department',
      editedIndex: -1,
      loadNewBtn: false,
      submitLoad: false,
      dialogWindow: false,
      statusProcessing: 'insert',
      menu1: '',
      dialog: false,
      message: false,
      loading: true,
      insertDivision: true,
      insert: true,
      loadingDivision: true,
      allData: [],
      allDataDivision: [],
      department: {},
      start_year: null,
      end_year: null,
      form: {
        id: null,
        start_year: null,
        end_year: null,
        is_open: null,
        open_date: null,
      },
      defaultItem: {
        id: null,
        start_year: null,
        end_year: null,
        is_open: null,
        open_date: null,
      },
      options: {},
      optionDivision: {},
      headers: [
        {text: 'Tahun', value: 'year'},
        {text: 'Tanggal Dibuka', value: 'open_date'},
        {text: 'Status', value: 'status'},
        {text: 'Aksi', value: 'action'},
      ],
    }
  },
  watch: {
    options: {
      handler() {
        this.getDataFromApi()
      },
      deep: true,
    },
  },

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'New' : 'Edit'
    },
  },

  mounted() {
    this.getDataFromApi()
  },

  methods: {
    getDataFromApi() {
      this.loading = true
      let vm = this
      axios.get(`/api/student-registration`, {
        params: {
          options: vm.options
        }
      })
        .then(res => {
          this.loading = false
          this.allData = res.data.rows
          this.totalData = res.data.total
          this.start_year = res.data.current_year
          this.end_year = res.data.next_year
        })
        .catch(err => {
          this.loading = false
          console.log(err.response.data)
        })
    },

    newData(dialogType) {
      this.dialog = true
      this.dialogType = dialogType
      this.statusProcessing = 'insert'
      this.form = Object.assign({}, this.defaultItem)
      this.form.start_year = this.start_year
      this.form.end_year = this.end_year
      this.message = false
    },

    editItem(item) {
      this.editedIndex = this.allData.indexOf(item)
      this.form = Object.assign({}, item)
      this.statusProcessing = 'update'
      this.dialogType = 'department'
      this.dataUser = item
      this.dialog = true
      this.insert = false
    },

    close() {
      this.dialog = false
      this.statusProcessing = 'insert'
      setTimeout(() => {
        this.form = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save: function (type = 'all', row = null) {
      const vm = this
      let form, details, clearData
      let status = this.statusProcessing
      form = this.form
      let data = {
        form: form,
        status: status
      }

      if (status === 'insert') {
        this.store('post', '/api/student-registration', data, 'insert', type)
        vm.submitLoad = false
      } else if (status === 'update') {
        this.store('put', '/api/student-registration/' + this.form.id, data, 'update', type)
        vm.submitLoad = false
      }
    },

    store(method, url, data, type, column = 'all') {
      const vm = this
      vm.submitLoad = true;
      this.dialogLoading = true
      axios({method, url, data})
        .then(res => {
          if (res.data.errors) {
            if (res.data.validHeader) {
              this.message = res.data.message
              setTimeout(() => (this.message = false), 8000)
            } else {
              this.message = res.data.message
              setTimeout(() => (this.message = false), 8000)
            }
            vm.submitLoad = false;
            this.dialogLoading = false
          } else {
            console.log('2')
            this.dialogLoading = false
            this.dialog = false
            this.message = res.data.message
            setTimeout(() => (this.message = false), 8000)

            this.getDataFromApi()
          }
        })
        .catch(err => {
          vm.submitLoad = false
        })
    },
  }
}
</script>

<style scoped>

</style>
