<template>
  <v-layout>
    <v-flex sm12>
      <v-toolbar flat color="white" dense>
        <v-toolbar-title class="hidden-xs-only">{{ $route.meta.title }}</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-form @keyup.native.enter="getDataFromApi" d-flex>
          <v-layout wrap>
            <v-flex sm5 xs6>
              <v-select
                :items="itemSearch"
                v-model="searchItem"
                label="Parameter"
                class="mt-1"
                outlined
                dense
                hide-details="auto"
              ></v-select>
            </v-flex>
            <v-flex sm1>
            </v-flex>
            <v-flex sm6 xs6 style="margin-top: 4px">
              <v-text-field
                v-model="search"
                label="Text Pencarian"
                outlined
                dense
                hide-details="auto"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-form>

        <div style="padding: 0 5px;">
          <v-select
            :items="itemStatus"
            v-model="searchStatus"
            @change="getDataFromApi"
            label="Status"
            class="mt-1"
            outlined
            dense
            hide-details="auto"
          ></v-select>
        </div>

        <v-btn
          icon
          color="green"
          dark @click="newData"
        >
          <v-icon>mdi-plus-circle</v-icon>
        </v-btn>
        <v-btn :loading="loading" icon @click="getDataFromApi">
          <v-icon>mdi-refresh</v-icon>
        </v-btn>
      </v-toolbar>

      <div class="mt-2">
        <v-data-table
          :mobile-breakpoint="0"
          :headers="headers"
          :items="allData"
          :items-per-page="20"
          :options.sync="options"
          :server-items-length="totalData"
          :loading="loading"
          class="elevation-1"
          :footer-props="{'items-per-page-options':[20, 50, 100, -1]}"
        >
          <template
            v-slot:body="{ items }"
          >
            <tbody>
            <tr
              v-for="item in items"
              :key="item.id"
              class="test-tr"
              :style="{backgroundColor: item.Color}"
            >
              <td class="text-xs-center">{{ item.name }}</td>
              <td class="text-xs-center">{{ item.username }}</td>
              <td class="text-xs-center">{{ item.email }}</td>
              <td class="text-xs-center">{{ item.role }}</td>
              <td class="text-xs-center">{{ item.status }}</td>
              <td class="d-flex">
                <v-tooltip
                  top
                  style="margin-top: 4px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      icon
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon small @click="openAction('edit', item)">mdi-pencil</v-icon>
                    </v-btn>
                  </template>
                  <span>Edit</span>
                </v-tooltip>

              </td>
            </tr>
            </tbody>
          </template>
          <template
            v-slot:footer
          >
          </template>
        </v-data-table>
      </div>
    </v-flex>

    <v-dialog
      v-model="dialog"
      persistent
      max-width="700px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-form>
            <v-layout wrap>
              <v-flex xs12 v-if="message">
                <div class="red darken-2 text-xs-center">
                  <span class="white--text">{{ message }}</span>
                </div>
              </v-flex>

              <v-flex md12 class="d-flex">
                <v-layout wrap>
                  <v-flex md4 sm4 xs12 class="pa-2">
                    <v-text-field
                      v-model="form.username"
                      label="Username"
                      placeholder="Username"
                      outlined dense
                      hide-details="auto"
                    ></v-text-field>
                  </v-flex>

                  <v-flex md4 sm4 xs12 class="pa-2">
                    <v-text-field
                      v-model="form.name"
                      placeholder="Name"
                      label="Name"
                      outlined dense
                      hide-details="auto"
                    ></v-text-field>
                  </v-flex>

                  <v-flex md4 sm4 xs12 class="pa-2">
                    <v-text-field
                      v-model="form.email"
                      placeholder="E-mail"
                      label="E-mail"
                      outlined dense
                      hide-details="auto"
                    ></v-text-field>
                  </v-flex>

                  <v-flex md4 sm4 xs12 class="pa-2">
                    <label>NIK</label>
                    <v-text-field
                      v-model="form.U_NIK"
                      placeholder="NIK"
                      outlined dense
                      hide-details="auto"
                    ></v-text-field>
                  </v-flex>

                  <v-flex md4 sm4 xs12 class="pa-2">
                    <v-text-field
                      :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'"
                      :type="show ? 'text' : 'password'"
                      @click:append="show = !show"
                      v-model="form.password"
                      placeholder="Password"
                      outlined dense
                      hide-details="auto"
                    ></v-text-field>
                  </v-flex>

                  <v-flex md4 sm4 xs12 class="pa-2">
                    <v-radio-group
                      v-model="form.is_active"
                      row
                      label="Is Active"
                      hide-details="auto"
                    >
                      <v-radio
                        label="Yes"
                        value="Y"
                      ></v-radio>
                      <v-radio
                        label="No"
                        value="N"
                      ></v-radio>
                    </v-radio-group>
                  </v-flex>


                  <v-flex md4 sm4 xs12 class="pa-2">
                    <v-select
                      v-model="form.role"
                      :items="itemRole"
                      label="Peran"
                      placeholder="Peran"
                      item-text="name"
                      item-value="id"
                      outlined
                      dense
                      hide-details="auto"
                      return-object
                    ></v-select>
                  </v-flex>

                </v-layout>
              </v-flex>
            </v-layout>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            small
            @click="close()"
          >
            Close
          </v-btn>
          <v-btn
            color="green darken-1"
            small
            dark
            :loading="submitLoad"
            @click="save()"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import axios from "axios";

export default {
  name: "User",
  data: () => ({
    dialog: false,
    form: {
      id: null,
      name: null,
      username: null,
      password: null,
      email: null,
      is_active: null,
      role_id: null,
    },

    defaultItem: {
      id: null,
      name: null,
      username: null,
      password: null,
      email: null,
      is_active: null,
      role_id: null,
    },

    headers: [
      {text: 'Nama', value: 'name'},
      {text: 'Username', value: 'username'},
      {text: 'Email', value: 'email'},
      {text: 'Peran', value: 'role'},
      {text: 'Status', value: 'status'},
      {text: 'Action', value: 'actions'},
    ],

    itemSearch: [],
    allData: [],
    options: {},
    totalData: 0,
    loading: false,
    submitLoad: false,
    editedIndex: -1,
    statusProcessing: 'insert',
    message: '',
    search: '',
  }),

  watch: {
    options: {
      handler() {
        this.getDataFromApi()
      },
      deep: true,
    },
  },

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'Tamabah User' : 'Edit User'
    },
  },

  methods: {
    getDataFromApi() {
      this.loading = true
      let vm = this
      axios.get(`/api/master/users`, {
        params: {
          options: vm.options,
          searchItem: vm.searchItem,
          search: vm.search,
        }
      })
        .then(res => {
          this.loading = false
          this.allData = res.data.rows
          this.totalData = res.data.total
          this.itemSearch = res.data.filter
        })
        .catch(err => {
          this.loading = false
        })
    },

    newData() {
      this.dialog = true
      setTimeout(() => {
        this.form = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
      this.statusProcessing = 'insert'
    },

    editItem(item) {
      this.statusProcessing = 'update'
      this.editedIndex = this.allData.indexOf(item)
      this.form = Object.assign({}, item)
      this.dataUser = item
      this.dialog = true
      this.insert = false
      this.selectDivision()
    },

    close() {
      this.statusProcessing = 'insert'
      this.dialog = false
      setTimeout(() => {
        this.form = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save: function (type = 'all', row = null) {
      const vm = this
      let form;
      let status = this.statusProcessing
      form = this.form
      let data = {
        form: form,
        status: status
      }

      if (status === 'insert') {
        this.store('post', '/api/master/users', data, 'insert', type)
        vm.submitLoad = false
      } else if (status === 'update') {
        this.store('put', '/api/master/users/' + this.form.id, data, 'update', type)
        vm.submitLoad = false
      }
    },

    store(method, url, data, type, column = 'all') {
      const vm = this
      vm.submitLoad = true;
      axios({method, url, data})
        .then(res => {
          if (res.data.errors) {
            if (res.data.validHeader) {
              this.message = res.data.message
              setTimeout(() => (this.message = false), 8000)
            } else {
              this.message = res.data.message
              setTimeout(() => (this.message = false), 8000)
            }
            vm.submitLoad = false;
          } else {
            this.dialog = false
            this.message = res.data.message
            setTimeout(() => (this.message = false), 8000)

            this.getDataFromApi()

          }
        })
        .catch(err => {
          vm.submitLoad = false
        })
    },
  }
}
</script>

<style scoped>

</style>
