<template>
  <v-layout>
    <v-flex sm12>
      <v-toolbar flat color="white" dense>
        <v-toolbar-title class="hidden-xs-only">{{ $route.meta.title }}</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-form @keyup.native.enter="getDataFromApi" d-flex>
          <v-layout wrap>
            <v-flex sm5 xs6>
              <v-select
                :items="itemSearch"
                v-model="searchItem"
                label="Parameter"
                class="mt-1"
                outlined
                dense
                hide-details="auto"
              ></v-select>
            </v-flex>
            <v-flex sm1>
            </v-flex>
            <v-flex sm6 xs6 style="margin-top: 4px">
              <v-text-field
                v-model="search"
                label="Text Pencarian"
                outlined
                dense
                hide-details="auto"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-form>

        <div style="padding: 0 5px;">
          <v-select
            :items="itemStatus"
            v-model="searchStatus"
            @change="getDataFromApi"
            label="Status"
            class="mt-1"
            outlined
            dense
            hide-details="auto"
          ></v-select>
        </div>

        <div style="padding: 0 5px;">
          <v-select
            :items="itemYear"
            v-model="searchByYear"
            @change="getDataFromApi"
            label="Tahun"
            class="mt-1"
            outlined
            dense
            hide-details="auto"
          ></v-select>
        </div>

        <v-btn :loading="loading" icon @click="getDataFromApi">
          <v-icon>mdi-refresh</v-icon>
        </v-btn>

        <v-btn :loading="loading" icon @click="exportDocument">
          <v-icon>mdi-file-export</v-icon>
        </v-btn>
      </v-toolbar>

      <div class="mt-2">
        <v-data-table
          dense
          :mobile-breakpoint="0"
          :headers="headers"
          :items="allData"
          :items-per-page="20"
          :options.sync="options"
          :server-items-length="totalData"
          :loading="loading"
          class="elevation-1"
          :footer-props="{'items-per-page-options':[20, 50, 100, -1]}"
        >
          <template
            v-slot:body="{ items }"
          >
            <tbody>
            <tr
              v-for="item in items"
              :key="item.ppdb_code"
              class="test-tr"
              :style="{backgroundColor: item.Color}"
            >
              <td class="text-xs-center">{{ item.name }}</td>
              <td class="text-xs-center">{{ item.ppdb_code }}</td>
              <td class="text-xs-center">{{ item.no_nisn }}</td>
              <td class="text-xs-center">{{ item.old_school }}</td>
              <td class="text-xs-center">{{ item.status }}</td>
              <td style="width: 200px">
                <v-tooltip
                  top
                  style="margin-top: 4px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      icon
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon small @click="openAction('reject', item)">mdi-close-circle</v-icon>
                    </v-btn>
                  </template>
                  <span>Tolak</span>
                </v-tooltip>

                <v-tooltip
                  top
                  style="margin-top: 4px"
                  v-if="item.approval_step !== 'G'"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      icon
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon small @click="openAction('reregist', item)">mdi-pencil-circle</v-icon>
                    </v-btn>
                  </template>
                  <span>Daftar Ulang</span>
                </v-tooltip>

                <v-tooltip
                  top
                  v-if="item.approval_step !== 'P'"
                  style="margin-top: 4px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      icon
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon small @click="openAction('approve', item)">mdi-check-circle</v-icon>
                    </v-btn>
                  </template>
                  <span>Terima</span>
                </v-tooltip>

                <v-tooltip
                  top
                  style="margin-top: 4px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      icon
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon small @click="openAction('details_upload', item)">mdi-arrow-up-bold-box-outline</v-icon>
                    </v-btn>
                  </template>
                  <span>Details Berkas</span>
                </v-tooltip>

              </td>
            </tr>
            </tbody>
          </template>
          <template
            v-slot:footer
          >
          </template>
        </v-data-table>
      </div>
    </v-flex>

    <v-dialog
      v-model="dialogAction"
      scrollable
      persistent
      :loading="loadingModal"
      max-width="400"
    >
      <v-card>
        <v-card-title>{{ formTitle }}</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <span>
            Calon siswa: {{ student_name }}  akan di ubah statusnya menjadi {{ student_status }}
          </span>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn
            color="red darken-1"
            dark
            small
            @click="dialogAction = false"
          >
            Tutup
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            dark
            color="primary darken-1"
            small
            :loading="btnLoading"
            :disabled="isDisable"
            class="white--text"
            @click="postAction"
          >
            <v-icon left>
              {{ actionIcon }}
            </v-icon>
            {{ formTitle }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <re-registration ref="dataReRegistration"></re-registration>

  </v-layout>
</template>

<script>
import ReRegistration from "./ReRegistration";

export default {
  name: "ProspectiveStudent",
  components: {
    ReRegistration
  },
  data: () => ({
    form: {},
    errors: {},
    default: {},
    isDisable: false,
    titleAction: '',
    formTitle: '',
    headers: [
      {text: 'Nama', value: 'name'},
      {text: 'Kode Pendaftaran', value: 'ppdb_code'},
      {text: 'NISN', value: 'no_nisn'},
      {text: 'Sekolah SMP Asal', value: 'old_school'},
      {text: 'Status Pendaftaran', value: 'status'},
      {text: 'Aksi', value: 'actions', width: '200px'},
    ],
    allData: [],
    options: {},
    totalData: 0,
    loading: false,
    loadingModal: false,
    dialog: false,
    dialogAction: false,
    btnLoading: false,
    itemSearch: [],
    itemYear: [],
    itemStatus: [],
    searchItem: '',
    search: '',
    searchByYear: '',
    searchStatus: '',
    student_name: '',
    student_status: '',
    actionIcon: '',
    dataStudent: {},
    dataStatus: '',
  }),

  watch: {
    options: {
      handler() {
        this.getDataFromApi()
      },
      deep: true,
    },
  },

  methods: {
    exportDocument() {
      this.loading = true
      let vm = this
      axios.get(`/api/prospective-students-export`, {
        params: {
          options: vm.options,
          searchItem: vm.searchItem,
          search: vm.search,
          searchByYear: vm.searchByYear,
          searchStatus: vm.searchStatus,
        },
        responseType: 'arraybuffer'
      })
        .then(res => {
          this.loading = false
          let blob = new Blob([res.data])
          let url = window.URL.createObjectURL(blob)
          let link = document.createElement('a')

          link.href = window.URL.createObjectURL(blob)
          link.download = 'student.xlsx'
          document.body.appendChild(link)
          link.click()
          this.loading = false;
          setTimeout(function () {
            document.body.removeChild(link)
            window.URL.revokeObjectURL(url)
          }, 100)
        })
        .catch(err => {
          this.loading = false
        })
    },

    getDataFromApi() {
      this.loading = true
      let vm = this
      axios.get(`/api/prospective-students`, {
        params: {
          options: vm.options,
          searchItem: vm.searchItem,
          search: vm.search,
          searchByYear: vm.searchByYear,
          searchStatus: vm.searchStatus,
        }
      })
        .then(res => {
          this.loading = false
          this.allData = res.data.rows
          this.totalData = res.data.total
          this.itemSearch = res.data.item_search
          this.itemYear = res.data.item_year
          this.itemStatus = res.data.item_status
          // this.searchByYear = res.data.current_year
        })
        .catch(err => {
          this.loading = false
        })
    },

    openAction(type, item) {
      this.student_name = item.name + '(' + item.ppdb_code + ')';
      this.dataStudent = item
      let vm = this;
      switch (type) {
        case 'reregist':
          this.student_status = 'Daftar Ulang'
          this.actionIcon = 'mdi-pencil'
          this.dialogAction = true
          this.dataStatus = 'Daftar Ulang'
          this.formTitle = 'Daftar Ulang'
          break;

        case 'reject':
          this.student_status = 'Tolak'
          this.formTitle = 'Tolak'
          this.actionIcon = 'mdi-close'
          this.dataStatus = 'Tolak'
          this.dialogAction = true;
          break;

        case 'approve':
          this.student_status = 'Terima'
          this.dataStatus = 'Terima'
          this.formTitle = 'Terima'
          this.actionIcon = 'mdi-check'
          this.dialogAction = true;
          break;

        case 'details_upload':
          this.dialog = true
          this.formTitle = 'Data Calon Siswa'
          this.$refs.dataReRegistration.getDataReRegist(item);
          break;
      }
    },

    postAction(type) {
      let id = this.dataStudent.id
      let vm = this
      this.btnLoading = true
      axios.patch(`/api/prospective-students/` + id, {
        status: vm.dataStatus
      })
        .then(res => {
          this.btnLoading = false
          vm.$swal(res.data.message);
          this.getDataFromApi()
        })
        .catch(err => {
          this.btnLoading = false
        })
    }
  }
}
</script>

<style scoped>

</style>
