<template>
  <div>
    <v-dialog
      v-model="dialogAction"
      scrollable
      max-width="400px"
    >
      <v-card>
        <v-card-title>Data Registrasi Ulang</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-data-table
            dense
            :mobile-breakpoint="0"
            :headers="headers"
            :items="allData"
            :items-per-page="20"
            :options.sync="options"
            :server-items-length="totalData"
            :loading="loading"
            class="elevation-1"
            :footer-props="{'items-per-page-options':[20, 50, 100, -1]}"
          >
            <template
              v-slot:body="{ items }"
            >
              <tbody>
              <tr
                v-for="item in items"
                :key="item.no"
                class="test-tr"
                :style="{backgroundColor: item.Color}"
              >
                <td class="text-xs-center">{{ item.step_desc }}</td>
                <td class="">
                  <v-icon
                    v-if="item.status === 'Y'"
                    color="green darken-2"
                  >
                    mdi-check-circle
                  </v-icon>

                  <v-icon
                    v-else
                    color="red darken-2"
                  >
                    mdi-close-circle
                  </v-icon>

                </td>
                <td class="">
                  <v-tooltip
                    top
                    style="margin-top: 4px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        icon
                        v-bind="attrs"
                        v-on="on"
                      >
                        <v-icon @click="openAction(item)">mdi-pencil-circle</v-icon>
                      </v-btn>
                    </template>
                    <span>Data Details</span>
                  </v-tooltip>

                </td>
              </tr>
              </tbody>
            </template>
            <template
              v-slot:footer
            >
            </template>
          </v-data-table>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            dark
            small
            @click="dialogAction = false"
          >
            Tutup
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogHelp"
      max-width="1200px"
    >
      <v-card>
        <personal-info @closeAction="closeAction" v-if="type === 'data_details' " ref="personalInfo"></personal-info>
        <data-help @closeAction="closeAction" v-if="type === 'data_help' " ref="dataHelp"></data-help>
        <parent-info @closeAction="closeAction" v-if="type === 'data_parent' " ref="parentInfo"></parent-info>
        <score-info @closeAction="closeAction" v-if="type === 'data_score' " ref="scoreInfo"></score-info>
        <form-student @closeAction="closeAction" v-if="type === 'data_regist' " ref="registerData"></form-student>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogUpload"
      max-width="400px"
    >
      <v-card>
        <upload-document v-if="type === 'photo'" ref="uploadDocument"></upload-document>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            dark
            small
            @click="dialogUpload = false"
          >
            Tutup
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DataHelp from "../../components/DataHelp";
import ScoreInfo from "../../components/ScoreInfo";
import PersonalInfo from "../../components/PersonalInfo";
import ParentInfo from "../../components/ParentInfo";
import UploadDocument from "../../components/UploadDocument";
import FormStudent from "../../components/FormStudent";
import axios from "axios";

export default {
  name: "ReRegistration",
  components: {
    DataHelp,
    ScoreInfo,
    PersonalInfo,
    ParentInfo,
    UploadDocument,
    FormStudent
  },
  data: () => ({
    dialogAction: false,
    headers: [
      {text: 'Tahap Registrasi', value: 'step_desc'},
      {text: 'Status', value: 'status'},
      {text: 'Aksi', value: 'actions'},
    ],
    allData: [],
    options: {},
    totalData: 0,
    loading: false,
    dialogHelp: false,
    dialogUpload: false,
    type: null,
    student: {}
  }),

  watch: {
    options: {
      handler() {
        this.getDataFromApi()
      },
      deep: true,
    },
  },

  methods: {
    getDataReRegist(student) {
      this.dialogAction = true
      this.student = student
      this.getDataFromApi()
    },

    getDataFromApi() {
      this.loading = true
      let vm = this
      let student = this.student
      axios.get(`/api/re-registration/` + student.id, {
        params: {
          options: vm.options,
        }
      })
        .then(res => {
          this.loading = false
          this.allData = res.data.rows
          this.totalData = res.data.total
        })
        .catch(err => {
          this.loading = false
          console.log(err.response.data)
        })
    },

    closeAction() {
      this.dialogHelp = false
    },

    openAction(item) {
      this.type = item.type
      let vm = this
      if (item.type === 'photo') {
        this.dialogUpload = true
        let student = this.student
        setTimeout(() => {
          vm.$refs.uploadDocument.openDialogPhoto(item, false, student)
        }, 500)
      } else if (item.type === 'data_help') {
        this.dialogHelp = true
        setTimeout(() => {
          vm.$refs.dataHelp.getData(item)
        }, 500)

      } else if (item.type === 'data_score') {
        this.dialogHelp = true
        setTimeout(() => {
          vm.$refs.scoreInfo.getData(item)
        }, 500)

      } else if (item.type === 'data_details') {
        this.dialogHelp = true
        setTimeout(() => {
          vm.$refs.personalInfo.getData(item)
        }, 500)

      } else if (item.type === 'data_parent') {
        this.dialogHelp = true
        setTimeout(() => {
          vm.$refs.parentInfo.getData(item)
        }, 500)

      } else if (item.type === 'data_regist') {
        this.dialogHelp = true
        setTimeout(() => {
          vm.$refs.registerData.getHomeData(item)
        }, 500)

      }
    }
  }
}
</script>

<style scoped>

</style>
