<template>
  <v-dialog
    v-model="dialog"
    persistent
    max-width="290"
  >
    <v-card>
      <v-card-title class="headline">
        Delete record?
      </v-card-title>
      <v-card-text>
        Are you sure you want to delete the records?
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="red darken-1"
          text
          small
          @click="dialog = false"
        >
          No
        </v-btn>
        <v-btn
          color="green darken-1"
          small
          dark
          :loading="loading"
          @click="deleteRows()"
        >
          Yes, Delete
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from "axios";

export default {
  name: "DialogDelete",
  props: {
    url: String
  },
  data() {
    return {
      dialog: false,
      loading: false,
    }
  },

  methods: {
    openDialog(url) {
      this.dialog = true
      this.url = url
    },

    deleteRows() {
      let vm = this
      this.loading = true
      axios.delete(this.url)
        .then(res => {
          this.loading = false
          vm.$emit('showMessage', res.data.message)
          this.dialog = false
        })
        .catch(err => {
          console.log(err)
          this.loading = false
          this.dialog = false
        })
    }
  }
}
</script>

<style scoped>

</style>
