<template>
  <v-form @keyup.native.enter="register">
    <v-flex xs12>
      <v-card flat>
        <v-card-title primary-title>
          <template v-if="loading">
            <v-progress-linear
              height="10"
              indeterminate
            ></v-progress-linear>
          </template>

          Data Orang Tua
          <hr/>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col
              cols="12"
              md="3"
            >
              <v-text-field
                :error-messages="errors.name_father"
                v-model="form.name_father"
                filled
                dense
                label="Nama Ayah"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-text-field
                :error-messages="errors.nik_father"
                v-model="form.nik_father"
                filled
                dense
                label="NIK Ayah"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-text-field
                :error-messages="errors.father_born_place"
                v-model="form.father_born_place"
                filled
                dense
                label="Tempat Lahir Ayah"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-menu
                ref="menu"
                v-model="menu1"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    :error-messages="errors.father_dob"
                    v-model="form.father_dob"
                    label="Tanggal Lahir Ayah"
                    prepend-icon="mdi-calendar"
                    readonly
                    persistent-hint
                    filled dense
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  no-title
                  v-model="form.father_dob"
                  @input="menu1 = false"
                >
                </v-date-picker>
              </v-menu>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-select
                :error-messages="errors.father_education"
                v-model="form.father_education"
                :items="itemSchool"
                filled
                dense
                label="Pendidikan Ayah"
                item-text="name"
                item-value="id"
                required
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-select
                :error-messages="errors.father_job"
                v-model="form.father_job"
                :items="itemJob"
                filled
                dense
                label="Pekerjaan Ayah"
                item-text="name"
                item-value="id"
                required
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-select
                :error-messages="errors.father_income"
                v-model="form.father_income"
                :items="itemIncome"
                filled
                dense
                label="Penghasilan Ayah"
                item-text="value"
                item-value="id"
                required
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-select
                :error-messages="errors.father_special_need"
                v-model="form.father_special_need"
                :items="itemSpecialNeeds"
                filled
                dense
                label="Berkebutuhan Khusus Ayah"
                item-text="name"
                item-value="id"
                required
              ></v-select>
            </v-col>


            <v-col
              cols="12"
              md="3"
            >
              <v-text-field
                :error-messages="errors.name_mother"
                v-model="form.name_mother"
                filled
                dense
                label="Nama Ibu"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-text-field
                :error-messages="errors.nik_mother"
                v-model="form.nik_mother"
                filled
                dense
                label="NIK Ibu"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-text-field
                :error-messages="errors.mother_born_place"
                v-model="form.mother_born_place"
                filled
                dense
                label="Tempat Lahir Ibu"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-menu
                ref="menu2"
                v-model="menu2"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    :error-messages="errors.mother_dob"
                    v-model="form.mother_dob"
                    label="Tanggal Lahir Ibu"
                    prepend-icon="mdi-calendar"
                    readonly
                    persistent-hint
                    filled dense
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  no-title
                  v-model="form.mother_dob"
                  @input="menu2 = false"
                >
                </v-date-picker>
              </v-menu>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-select
                :error-messages="errors.mother_education"
                v-model="form.mother_education"
                :items="itemSchool"
                filled
                dense
                item-text="name"
                item-value="id"
                label="Pendidikan Ibu"
                required
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-select
                :error-messages="errors.mother_job"
                v-model="form.mother_job"
                :items="itemJob"
                filled
                dense
                label="Pekerjaan Ibu"
                item-text="name"
                item-value="id"
                required
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-select
                :error-messages="errors.mother_income"
                v-model="form.mother_income"
                :items="itemIncome"
                filled
                dense
                label="Penghasilan Ibu"
                item-text="value"
                item-value="id"
                required
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-select
                :error-messages="errors.mother_special_need"
                v-model="form.mother_special_need"
                :items="itemSpecialNeeds"
                filled
                dense
                label="Berkebutuhan Khusus Ibu"
                item-text="name"
                item-value="id"
                required
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-text-field
                :error-messages="errors.guardian_parent_name"
                v-model="form.guardian_parent_name"
                filled
                dense
                label="Nama Wali"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-text-field
                :error-messages="errors.guardian_parent_nik"
                v-model="form.guardian_parent_nik"
                filled
                dense
                label="NIK Wali"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-text-field
                :error-messages="errors.guardian_parent_born_place"
                v-model="form.guardian_parent_born_place"
                filled
                dense
                label="Tempat Lahir Wali"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-menu
                ref="menu3"
                v-model="menu3"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    :error-messages="errors.guardian_parent_dob"
                    v-model="form.guardian_parent_dob"
                    label="Tanggal Lahir Wali"
                    prepend-icon="mdi-calendar"
                    readonly
                    persistent-hint
                    filled dense
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  no-title
                  v-model="form.guardian_parent_dob"
                  @input="menu3 = false"
                >
                </v-date-picker>
              </v-menu>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-select
                :error-messages="errors.guardian_parent_education"
                v-model="form.guardian_parent_education"
                :items="itemSchool"
                filled
                dense
                label="Pendidikan Wali"
                item-text="name"
                item-value="id"
                required
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-select
                :error-messages="errors.guardian_parent_job"
                v-model="form.guardian_parent_job"
                :items="itemJob"
                filled
                dense
                label="Pekerjaan Wali"
                item-text="name"
                item-value="id"
                required
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-select
                :error-messages="errors.guardian_parent_income"
                v-model="form.guardian_parent_income"
                :items="itemIncome"
                filled
                dense
                label="Penghasilan Wali"
                item-text="value"
                item-value="id"
                required
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-select
                :error-messages="errors.guardian_parent_special_need"
                v-model="form.guardian_parent_special_need"
                :items="itemSpecialNeeds"
                filled
                dense
                label="Berkebutuhan Khusus Wali"
                item-text="name"
                item-value="id"
                required
              ></v-select>
            </v-col>

          </v-row>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="red darken-1"
            dark
            small
            @click="close"
          >
            Tutup
          </v-btn>
          <v-spacer/>
          <v-btn
            small
            :loading="loading"
            @click="register"
            elevation="3"
            color="success"
            class="white--text ml-1"
          >
            <v-icon left>
              mdi-file-document-box
            </v-icon>
            Ubah
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-form>
</template>

<script>
export default {
  name: "ParentInfo",
  data: () => ({
    form: {},
    errors: {},
    loading: false,
    dialog: false,
    menu1: '',
    menu2: '',
    menu3: '',
    itemSpecialNeeds: [],
    itemJob: [],
    itemSchool: [],
    itemIncome: []
  }),

  methods: {
    getData(student) {
      this.loading = true
      this.getSpecialNeeds()
      this.getJob()
      this.getSchool()
      this.getIncome()

      this.dialog = true
      axios.get(`/api/student-data-parent/` + student.id)
        .then(res => {
          this.errors = Object.assign({}, res.data.default)
          this.form = Object.assign({}, res.data.rows)
          this.loading = false
        })
        .catch(err => {
          this.loading = false
        })
    },

    getSpecialNeeds() {
      axios.get(`/api/master/special-needs`)
        .then(res => {
          this.itemSpecialNeeds = res.data.rows
        })
    },

    getJob() {
      axios.get(`/api/master/parent-job`)
        .then(res => {
          this.itemJob = res.data.rows
        })
    },

    getSchool() {
      axios.get(`/api/master/school-status`)
        .then(res => {
          this.itemSchool = res.data.rows
        })
    },

    getIncome() {
      axios.get(`/api/master/income`)
        .then(res => {
          this.itemIncome = res.data.rows
        })
    },

    getRegistrationData() {
      axios.get(`/api/student-data-parent`)
        .then(res => {
          this.errors = Object.assign({}, res.data.rows)
          this.form = Object.assign({}, res.data.rows)
        })
    },

    register() {
      this.loading = true
      axios.post(`/api/student-data-parent`, this.form)
        .then(res => {
          this.loading = false
          this.$swal(res.data.message);
          if (res.data.error) {
            this.errors = res.data.message
          } else {
            this.close()
          }
        })
    },

    close() {
      this.$emit('closeAction')
    }

  }
}
</script>

<style scoped>

</style>
