<template>
  <v-form @keyup.native.enter="register">
    <v-flex xs12>
      <v-card>
        <v-card-title primary-title>
          <template v-if="loading">
            <v-progress-linear
              height="10"
              indeterminate
            ></v-progress-linear>
          </template>

          Data Pribadi
          <hr/>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col
              cols="12"
              md="3"
            >
              <v-text-field
                :error-messages="errors.no_bird_card"
                v-model="form.no_bird_card"
                filled
                dense
                label="No Akta Lahir"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-select
                :error-messages="errors.religion_id"
                v-model="form.religion_id"
                :items="itemReligion"
                filled
                dense
                label="Agama & Kepercayaan"
                item-text="name"
                item-value="id"
                required
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-select
                :error-messages="errors.special_need_id"
                v-model="form.special_need_id"
                :items="itemSpecialNeeds"
                filled
                dense
                label="Kebutuhan khusus"
                item-text="name"
                item-value="id"
                required
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-text-field
                :error-messages="errors.nationality"
                v-model="form.nationality"
                filled
                dense
                label="Kewarganegaraan"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-select
                :error-messages="errors.province_id"
                v-model="form.province_id"
                :items="itemProvince"
                filled
                dense
                label="Provinsi"
                @change="getRegency()"
                required
                item-text="name"
                item-value="id"
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-select
                :error-messages="errors.regency_id"
                v-model="form.regency_id"
                :items="itemRegency"
                filled
                dense
                label="Kabupaten"
                @change="getDistrict()"
                required
                item-text="name"
                item-value="id"
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-select
                :error-messages="errors.district_id"
                v-model="form.district_id"
                :items="itemDistrict"
                filled
                dense
                label="Kecamatan"
                @change="getVillage()"
                required
                item-text="name"
                item-value="id"
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-select
                :error-messages="errors.village_id"
                v-model="form.village_id"
                :items="itemVillage"
                filled
                dense
                label="Desa/kelurahan"
                required
                item-text="name"
                item-value="id"
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-text-field
                :error-messages="errors.dusun_name"
                v-model="form.dusun_name"
                filled
                dense
                label="Dusun"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="1"
            >
              <v-text-field
                :error-messages="errors.rt_name"
                v-model="form.rt_name"
                filled
                dense
                label="RT"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="1"
            >
              <v-text-field
                :error-messages="errors.rw_name"
                v-model="form.rw_name"
                filled
                dense
                label="RW"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-text-field
                :error-messages="errors.zip_code"
                v-model="form.zip_code"
                filled
                dense
                label="Kode Pos"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-select
                :error-messages="errors.residence_id"
                v-model="form.residence_id"
                :items="itemResident"
                filled
                dense
                label="Tempat tinggal"
                required
                item-text="name"
                item-value="id"
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-select
                :error-messages="errors.transportation_id"
                v-model="form.transportation_id"
                :items="itemTransportation"
                filled
                dense
                label="Mode Transportasi"
                required
                item-text="name"
                item-value="id"
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-text-field
                :error-messages="errors.family_order"
                v-model="form.family_order"
                filled
                dense
                label="Anak ke"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-text-field
                :error-messages="errors.sibling_number"
                v-model="form.sibling_number"
                filled
                dense
                label="Jumlah Saudara Kandung"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-select
                :error-messages="errors.blood_group_id"
                v-model="form.blood_group_id"
                :items="itemBloodGroup"
                filled
                dense
                label="Golongan Darah"
                required
                item-text="name"
                item-value="id"
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-text-field
                :error-messages="errors.home_phone"
                v-model="form.home_phone"
                filled
                dense
                label="No Telp Rumah"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-text-field
                :error-messages="errors.email"
                v-model="form.email"
                filled
                type="email"
                dense
                label="Email"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-select
                :error-messages="errors.extracurricular_id"
                v-model="form.extracurricular_id"
                :items="itemExtraCurricular"
                filled
                dense
                label="Jenis Extra Kulikuler"
                required
                item-text="name"
                item-value="id"
              ></v-select>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-text-field
                :error-messages="errors.height"
                v-model="form.height"
                filled
                type="number"
                dense
                label="Tinggi badan(cm)"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-text-field
                :error-messages="errors.head_circumference"
                v-model="form.head_circumference"
                filled
                type="number"
                dense
                label="Lingkar Kepala(cm)"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-text-field
                :error-messages="errors.weight"
                v-model="form.weight"
                filled
                type="number"
                dense
                label="Berat Badan(Kg)"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-text-field
                :error-messages="errors.school_home_distance"
                v-model="form.school_home_distance"
                filled
                type="number"
                dense
                label="Jarak Tempat Tinggal Dengan Sekolah(Km)"
                required
              ></v-text-field>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-text-field
                :error-messages="errors.travel_time"
                v-model="form.travel_time"
                filled
                type="number"
                dense
                label="Waktu Tempuh(Menit)"
                required
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="red darken-1"
            dark
            small
            @click="close"
          >
            Tutup
          </v-btn>
          <v-spacer/>
          <v-btn
            small
            :loading="loading"
            @click="register"
            elevation="3"
            color="success"
            class="white--text ml-1"
          >
            <v-icon>
              mdi-file-document-box
            </v-icon>
            Ubah
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-form>
</template>

<script>
export default {
  name: "PersonalInfo",
  data: () => ({
    form: {},
    errors: {},
    default: {},
    loading: false,
    dialog: false,
    itemExtraCurricular: [],
    itemBloodGroup: [],
    itemTransportation: [],
    itemResident: [],
    itemReligion: [],
    itemSpecialNeeds: [],
    itemProvince: [],
    itemRegency: [],
    allRegency: [],
    itemDistrict: [],
    allDistrict: [],
    itemVillage: [],
    allVillage: []
  }),


  methods: {
    getData(student) {
      this.dialog = true
      this.loading = true
      this.getExtraCurricular();
      this.getBloodGroup();
      this.getTransportation();
      this.getResident();
      this.getReligion();
      this.getSpecialNeeds();
      this.getProvince();

      axios.get(`/api/student-details/` + student.id)
        .then(res => {
          this.errors = Object.assign({}, res.data.default)
          this.form = Object.assign({}, res.data.rows)
          if (this.form.province_id) {
            console.log(this.form.province_id)
            this.getRegency();
            if (this.form.regency_id) {
              console.log(this.form.regency_id)
              this.getDistrict();
              if (this.form.district_id) {
                console.log(this.form.district_id)
                this.getVillage();
              }
            }
          }

          this.loading = false
        })
        .catch(err => {
          this.loading = false
        })
    },

    selectRegency() {
      let item_regency = this.allRegency
      let province = this.form.province_id

      let regency = [];
      for (let i = 0; i < item_regency.length; i++) {
        if (item_regency[i].province_id == province) {
          regency.push(item_regency[i]);
        }
      }

      this.itemRegency = regency
    },

    selectDistrict() {
      let item_district = this.allDistrict
      let regency = this.form.regency_id

      let district = [];
      for (let i = 0; i < item_district.length; i++) {
        if (item_district[i].regency_id == regency) {
          district.push(item_district[i]);
        }
      }
      console.log(item_district)
      this.itemDistrict = district
    },

    selectVillage() {
      let item_village = this.allVillage
      let district = this.form.district_id

      let village = [];
      for (let i = 0; i < item_village.length; i++) {
        if (item_village[i].district_id == district) {
          village.push(item_village[i]);
        }
      }
      this.itemVillage = village
    },
    // dont use this
    getRegistrationData() {
      this.getData()
      this.getExtraCurricular();
      this.getBloodGroup();
      this.getTransportation();
      this.getResident();
      this.getReligion();
      this.getSpecialNeeds();
      this.getProvince();

      axios.get(`/api/student-details`)
        .then(res => {
          this.errors = Object.assign({}, res.data.default)
          this.form = Object.assign({}, res.data.rows)
          if (res.data.rows.province_id) {
            this.getRegency();
            if (res.data.rows.regency_id) {
              this.getDistrict();
              if (res.data.rows.district_id) {
                this.getVillage();
              }
            }
          }
        })
    },

    register() {
      this.loading = true
      axios.post(`/api/student-details`, this.form)
        .then(res => {
          this.loading = false
          this.$swal(res.data.message);
          if (res.data.error) {
            this.errors = res.data.message
          } else {
            this.close()
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    close() {
      this.$emit('closeAction')
    },

    getExtraCurricular() {
      axios.get(`/api/master/extracurricular`)
        .then(res => {
          this.itemExtraCurricular = res.data.rows
        })
    },
    getBloodGroup() {
      axios.get(`/api/master/blood-group`)
        .then(res => {
          this.itemBloodGroup = res.data.rows
        })
    },
    getTransportation() {
      axios.get(`/api/master/transportation`)
        .then(res => {
          this.itemTransportation = res.data.rows
        })
    },
    getResident() {
      axios.get(`/api/master/resident`)
        .then(res => {
          this.itemResident = res.data.rows
        })
    },
    getReligion() {
      axios.get(`/api/master/religion`)
        .then(res => {
          this.itemReligion = res.data.rows
        })
    },
    getSpecialNeeds() {
      axios.get(`/api/master/special-needs`)
        .then(res => {
          this.itemSpecialNeeds = res.data.rows
        })
    },
    getProvince() {
      axios.get(`/api/master/province`)
        .then(res => {
          this.itemProvince = res.data.rows
        })
    },
    getRegency() {
      let vm = this;
      axios.get(`/api/master/regency`, {
        params: {
          'province_id': vm.form.province_id
        }
      })
        .then(res => {
          this.itemRegency = res.data.rows
          this.allRegency = res.data.rows
        })
    },
    getDistrict() {
      let vm = this;
      axios.get(`/api/master/district`, {
        params: {
          'regency_id': vm.form.regency_id
        }
      })
        .then(res => {
          this.itemDistrict = res.data.rows
          this.allDistrict = res.data.rows
        })
    },
    getVillage() {
      let vm = this;
      axios.get(`/api/master/village`, {
        params: {
          'district_id': vm.form.district_id
        }
      })
        .then(res => {
          this.itemVillage = res.data.rows
          this.allVillage = res.data.rows
        })
    }
  }
}
</script>

<style scoped>

</style>
