<template>
  <v-card>
    <v-card-title>Upload Foto</v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <v-flex md12 v-if="showLoadingAttachment">
        <v-progress-linear :indeterminate="showLoadingAttachment"></v-progress-linear>
      </v-flex>
      <v-flex xs12 v-if="error">
        <div class="green darken-2 text-xs-center">
          <span class="white--text">{{ message }}</span>
        </div>
      </v-flex>
      <v-list three-line subheader>
        <form>
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs12>
                <vue-dropzone
                  v-if="showUpload"
                  :options="dropzoneOptions"
                  @vdropzone-sending="(file, xhr, formData) => sendingParams(file, xhr, formData)"
                  @vdropzone-success="(file, response) => reloadAttachment(file, response)"
                  id="dropzone"
                  ref="myVueDropzone"
                ></vue-dropzone>
              </v-flex>
              <v-flex xs12>
                <v-divider></v-divider>
              </v-flex>
              <v-flex xs12>
                <v-row>
                  <v-img
                    max-height="400"
                    contain
                    class="grey darken-4"
                    :src="files"
                    alt=""/>
                </v-row>
              </v-flex>
              <v-flex xs12 v-if="files">
                <v-btn
                  color="green darken-1"
                  dark
                  small
                  @click="downloadFile()"
                >
                  Download
                </v-btn>
              </v-flex>

            </v-layout>
          </v-container>
        </form>
      </v-list>
    </v-card-text>
  </v-card>
</template>

<script>
import jwtToken from '../helper/jwt-token'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
  name: "UploadDocument",
  components: {
    vueDropzone: vue2Dropzone
  },
  data: () => ({
    dropzoneOptions: {
      url: '/api/student-photo',
      timeout: 9000000000,
      thumbnailWidth: 150,
      thumbnailHeight: 200,
      addRemoveLinks: true,
      maxFiles: 1,
      acceptedFiles: ".jpeg,.jpg,.png,.gif",
      dictDefaultMessage: '<span class=\'mdi mdi-attachment\'></span>UPLOAD HERE',
      headers: {
        Authorization: 'bearer ' + jwtToken.getToken(),
        'X-CSRF-TOKEN': document.head.querySelector('[name=csrf-token]').content
      }
    },
    user_id: null,
    showUpload: false,
    files: null,
    users: [],
    showLoadingAttachment: false,
    message: null,
    error: false,
    dialog: false,
    students: []
  }),

  methods: {
    openDialogPhoto(item, show_upload, student) {
      this.students = student
      this.dialog = true
      this.setData(item, show_upload)
      this.getAttachment()
    },

    setData(item, show_upload) {
      this.user_id = item.id
      this.showUpload = show_upload
    },

    sendingParams(file, xhr, formData) {
      //attachment
      formData.append('user_id', this.user_id)
    },

    reloadAttachment(file, response) {
      if (response.errors) {
        this.$swal({
          type: 'error',
          title: 'Oops...',
          text: response.message,
          // footer: response.messages.file[0]
        })
        this.message = response.message
        this.error = true
      } else {
        this.getAttachment()
        this.error = false
        this.message = ''
        this.files = response.data_files
      }
    },

    getAttachment() {
      let id = ('student_id' in this.students) ? this.students.student_id : this.students.id
      console.log(id)
      axios.get(`/api/student-photo/` + id)
        .then(res => {
          this.files = res.data.src
        })
    },

    downloadFile() {
      let id = ('student_id' in this.students) ? this.students.student_id : this.students.id
      console.log(id)
      axios.get(`/api/download-photo/` + id, {
        responseType: 'arraybuffer'
      })
        .then(res => {
          let blob = new Blob([res.data])
          let url = window.URL.createObjectURL(blob)
          let link = document.createElement('a')

          link.href = url
          link.download = Date.now() + '.jpg'
          document.body.appendChild(link)
          link.click()
          this.loading = false;
          setTimeout(function () {
            document.body.removeChild(link)
            window.URL.revokeObjectURL(url)
          }, 100)
        })
    },

  }
}
</script>

<style scoped>

</style>
