<template>
  <v-container
    class="text-center fill-height"
    style="height: calc(100vh - 58px);"
  >
    <v-row align="center">
      <v-col>
        <v-card
          class="mx-auto pa-10"
          max-width="400"
        >
          <h1 class="display-2 primary--text">
            Whoops, 404
          </h1>

          <p>The page you were looking for does not exist</p>

          <router-link :to="{ name: 'index' }">
            Back To Home
          </router-link>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
name: "Error404"
}
</script>

<style scoped>

</style>
