<template>
    <form action="">
        <div class="card">
            <div class="card-header">
                <h4>Daftar PPDB</h4>
            </div>
            <div class="card-body">
                <span>Data Pribadi</span>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label >Nama Lengkap</label>
                        <input type="text"
                               class="form-control @error('name') is-invalid @enderror"
                               name="name" value="{{ old('name') }}" required autofocus>
                    </div>

                    <div class="form-group col-md-4 col-6">
                        <label >{{ __('auth.palacebirtday') }}</label>
                        <input type="text"
                               class="form-control @error('born_place') is-invalid @enderror"
                               name="born_place" value="{{ old('born_place') }}" required>

                        @error('born_place')
                        <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                    </span>
                        @enderror
                    </div>

                    <div class="form-group col-md-4 col-6">
                        <label >{{ __('auth.dob') }}</label>
                        <input type="text"
                               class="form-control datepicker @error('dob') is-invalid @enderror"
                               name="dob"
                               value="{{ old('dob') }}" required>

                        @error('dob')
                        <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                    </span>
                        @enderror
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label >{{ __('auth.nisn') }}</label>
                        <input type="text"
                               class="form-control @error('no_nisn') is-invalid @enderror"
                               name="no_nisn" value="{{ old('no_nisn') }}" required autofocus>

                        @error('no_nisn')
                        <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                    </span>
                        @enderror
                    </div>

                    <div class="form-group col-md-4">
                        <label >{{ __('auth.originSchool') }}</label>
                        <input type="text"
                               class="form-control @error('old_school') is-invalid @enderror"
                               name="old_school" value="{{ old('old_school') }}" required>

                        @error('old_school')
                        <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                    </span>
                        @enderror
                    </div>

                    <div class="form-group col-md-4">
                        <label >{{ __('auth.nik') }}</label>
                        <input type="text"
                               class="form-control @error('no_nik') is-invalid @enderror"
                               name="no_nik" value="{{ old('no_nik') }}" required>

                        @error('nik')
                        <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                    </span>
                        @enderror
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label >{{ __('auth.gender') }}</label>
                        <select class="form-control @error('gender') is-invalid @enderror"
                                name="gender"
                                id="">
                            <option
                                value="{{ __('auth.female') }}">{{ __('auth.female') }}</option>
                            <option value="{{ __('auth.male') }}">{{ __('auth.male') }}</option>
                        </select>

                        @error('gender')
                        <span class="invalid-feedback" role="alert">
                                                <strong>{{ $message }}</strong>
                                            </span>
                        @enderror
                    </div>

                    <div class="form-group col-md-8">
                        <label >{{ __('auth.address') }}</label>
                        <input type="text"
                               class="form-control @error('address') is-invalid @enderror"
                               name="address" value="{{ old('address') }}" required>

                        @error('address')
                        <span class="invalid-feedback" role="alert">
                                                <strong>{{ $message }}</strong>
                                            </span>
                        @enderror
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label >{{ __('auth.haveKIP') }}</label>
                        <select class="form-control @error('hasKIP') is-invalid @enderror"
                                name="gender"
                                id="">
                            <option
                                value="Y">Ya</option>
                            <option value="N">Tidak</option>
                        </select>

                        @error('hasKIP')
                        <span class="invalid-feedback" role="alert">
                                                <strong>{{ $message }}</strong>
                                            </span>
                        @enderror
                    </div>

                    <div class="form-group col-md-8">
                        <label >{{ __('auth.phoneNumber') }}</label>
                        <input type="text"
                               class="form-control @error('no_phone') is-invalid @enderror"
                               name="no_phone" value="{{ old('no_phone') }}" required>

                        @error('no_phone')
                        <span class="invalid-feedback" role="alert">
                                                <strong>{{ $message }}</strong>
                                            </span>
                        @enderror
                    </div>
                </div>

                <span>{{ __('auth.reportCard') }}</span>
                <hr>
                <div class="form-row">
                    <span class="col-12">Bahasa Indonesia</span>
                    @for($i=1; $i <= 5; $i++)
                    <div class="form-group col-4 col-sm-2 text-center">
                        <label  class="">{{ $i }}</label>
                        <input onchange="calcAverage('bindo_semester_', 'average_bindo')" id="{{ 'bindo_semester_'.$i }}" type="text"
                               class="formatNumber form-control number_bindo_{{ $i }} @error('bindo_semester'.$i) is-invalid @enderror"
                               name="{{ 'bindo_semester'.$i }}" value="{{ old('bindo_semester'.$i) }}" required
                               autofocus>

                        @error('bindo_semester'.$i)
                        <span class="invalid-feedback" role="alert">
                                                    <strong>{{ $message }}</strong>
                                                </span>
                        @enderror
                    </div>
                    @endfor

                    <div class="form-group col-4 col-sm-2">
                        <label >{{ __('auth.average') }}</label>
                        <input type="text" id="average_bindo"
                               class="formatNumber form-control average_1 @error('average_bindo') is-invalid @enderror"
                               name="average_bindo" value="{{ old('average_bindo') }}" required>

                        @error('average_bindo')
                        <span class="invalid-feedback" role="alert">
                                                <strong>{{ $message }}</strong>
                                            </span>
                        @enderror
                    </div>

                    <span class="col-12">Bahasa Inggris</span>
                    @for($i=1; $i <= 5; $i++)
                    <div class="form-group col-4 col-sm-2 text-center">
                        <label  class="text-center">{{ $i }}</label>
                        <input id="{{ 'bing_semester_'.$i }}" type="text"
                               class="formatNumber form-control number_bing_{{ $i }} @error('bing_semester_'.$i) is-invalid @enderror"
                               name="{{ 'bing_semester_'.$i }}" value="{{ old('bing_semester_'.$i) }}" required
                               autofocus>

                        @error('bing_semester_'.$i)
                        <span class="invalid-feedback" role="alert">
                                                    <strong>{{ $message }}</strong>
                                                </span>
                        @enderror
                    </div>
                    @endfor

                    <div class="form-group col-4 col-sm-2">
                        <label >{{ __('auth.average') }}</label>
                        <input type="text" id="average_binng"
                               class="formatNumber form-control average_2 @error('average_binng') is-invalid @enderror"
                               name="average_binng" value="{{ old('average_binng') }}" required>

                        @error('average_binng')
                        <span class="invalid-feedback" role="alert">
                                                <strong>{{ $message }}</strong>
                                            </span>
                        @enderror
                    </div>

                    <span class="col-12">Matematika</span>
                    @for($i=1; $i <= 5; $i++)
                    <div class="form-group col-4 col-sm-2 text-center">
                        <label  class="text-center">{{ $i }}</label>
                        <input id="{{ 'mtk_semester_'.$i }}" type="text"
                               class="formatNumber form-control number_mtk_{{ $i }} @error('mtk_semester_'.$i) is-invalid @enderror"
                               name="{{ 'mtk_semester_'.$i }}" value="{{ old('mtk_semester_'.$i) }}" required
                               autofocus>

                        @error('mtk_semester_'.$i)
                        <span class="invalid-feedback" role="alert">
                                                    <strong>{{ $message }}</strong>
                                                </span>
                        @enderror
                    </div>
                    @endfor

                    <div class="form-group col-4 col-sm-2">
                        <label >{{ __('auth.average') }}</label>
                        <input type="text" id="average_mtk"
                               class="formatNumber form-control average_3 @error('average_mtk') is-invalid @enderror"
                               name="average_mtk" value="{{ old('average_mtk') }}" required>

                        @error('average_mtk')
                        <span class="invalid-feedback" role="alert">
                                                <strong>{{ $message }}</strong>
                                            </span>
                        @enderror
                    </div>

                    <span class="col-12">IPA</span>
                    @for($i=1; $i <= 5; $i++)
                    <div class="form-group col-4 col-sm-2 text-center">
                        <label  class="text-center ">{{ $i }}</label>
                        <input id="{{ 'ipa_semester_'.$i }}" type="text"
                               class="formatNumber form-control number_ipa_{{ $i }} @error('ipa_semester_'.$i) is-invalid @enderror"
                               name="{{ 'ipa_semester_'.$i }}" value="{{ old('ipa_semester_'.$i) }}" required
                               autofocus>

                        @error('ipa_semester_'.$i)
                        <span class="invalid-feedback" role="alert">
                                                    <strong>{{ $message }}</strong>
                                                </span>
                        @enderror
                    </div>
                    @endfor

                    <div class="form-group col-4 col-sm-2">
                        <label >{{ __('auth.average') }}</label>
                        <input type="text" id="average_ipa"
                               class="formatNumber form-control average_4 @error('average_ipa') is-invalid @enderror"
                               name="average_ipa" value="{{ old('average_ipa') }}" required>

                        @error('average_ipa')
                        <span class="invalid-feedback" role="alert">
                                                <strong>{{ $message }}</strong>
                                            </span>
                        @enderror
                    </div>
                </div>


                <span>{{ __('auth.parentData') }}</span>
                <hr>
                <div class="form-row">
                    <label class="col-md-12">{{ __('auth.father') }}</label>
                    <div class="form-group col-md-4">
                        <label >{{ __('auth.fullName') }}</label>
                        <input type="text"
                               class="form-control @error('name_father') is-invalid @enderror"
                               name="name_father" value="{{ old('name_father') }}" required autofocus>

                        @error('name_father')
                        <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                    </span>
                        @enderror
                    </div>

                    <div class="form-group col-md-4 col-6">
                        <label >{{ __('auth.nik') }}</label>
                        <input type="text"
                               class="form-control @error('nik_father') is-invalid @enderror"
                               name="nik_father" value="{{ old('nik_father') }}" required>

                        @error('nik_father')
                        <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                    </span>
                        @enderror
                    </div>

                    <div class="form-group col-md-4 col-6">
                        <label >{{ __('auth.address') }}</label>
                        <input type="text"
                               class="form-control @error('address_father') is-invalid @enderror"
                               name="address_father"
                               value="{{ old('address_father') }}" required>

                        @error('address_father')
                        <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                    </span>
                        @enderror
                    </div>
                </div>

                <div class="form-row">
                    <label class="col-md-12">{{ __('auth.mother') }}</label>
                    <div class="form-group col-md-4">
                        <label >{{ __('auth.fullName') }}</label>
                        <input type="text"
                               class="form-control @error('name_mother') is-invalid @enderror"
                               name="name_mother" value="{{ old('name_mother') }}" required autofocus>

                        @error('name_mother')
                        <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                        </span>
                        @enderror
                    </div>

                    <div class="form-group col-md-4 col-6">
                        <label >{{ __('auth.nik') }}</label>
                        <input type="text"
                               class="form-control @error('nik_mother') is-invalid @enderror"
                               name="nik_mother" value="{{ old('nik_mother') }}" required>

                        @error('nik_mother')
                        <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                        </span>
                        @enderror
                    </div>

                    <div class="form-group col-md-4 col-6">
                        <label >{{ __('auth.address') }}</label>
                        <input type="text"
                               class="form-control @error('address_mother') is-invalid @enderror"
                               name="address_mother"
                               value="{{ old('address_mother') }}" required>

                        @error('address_mother')
                        <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                        </span>
                        @enderror
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">{{ __('auth.submit') }}</button>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "register"
    }
</script>

<style scoped>

</style>
