<template>
  <v-container>
    <v-form @keyup.native.enter="login">
      <v-flex xs12 sm6 offset-sm3 md4 offset-md4>
        <v-card>
          <v-card-title primary-title>
            <template v-if="loading">
              <v-progress-linear
                height="10"
                indeterminate
              ></v-progress-linear>
            </template>

            Login
            <hr/>
          </v-card-title>
          <v-card-text>
            <v-flex xs12>
              <v-text-field
                v-model="form.username"
                filled
                label="Username"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'"
                :type="show ? 'text' : 'password'"
                @click:append="show = !show"
                v-model="form.password"
                filled
                label="Password"
                required
              ></v-text-field>
            </v-flex>
          </v-card-text>
          <v-card-actions>
            <v-flex class="text-right" xs12>
              <v-spacer></v-spacer>
              <v-btn small @click="clear">clear</v-btn>
              <v-btn
                color="info"
                small
                :loading="loading"
                @click="login"
              >Login
                <v-icon
                  right
                  dark
                >
                  mdi-login-variant
                </v-icon>
              </v-btn>
            </v-flex>
          </v-card-actions>
        </v-card>
      </v-flex>
      <v-flex xs12 sm4 offset-sm4 v-if="error">
        <div class="red darken-2 text-xs-center pa-1">
          <span class="white--text">{{ message }}</span>
        </div>
      </v-flex>
    </v-form>

  </v-container>
</template>

<script>

import {mapActions} from "vuex";
import axios from "axios";
import jwtToken from "../../helper/jwt-token";

export default {
  name: "Login",
  data: () => ({
    form: {
      username: "",
      password: "",
    },
    select: null,
    show: false,
    loading: false,
    checkbox: null,
    loadModal: false,
    eye: true,
    remember: false,
    busy: false,
    message: "",
    error: false
  }),

  methods: {
    ...mapActions(["setAuthUser"]),

    clear() {
      this.name = "";
      this.email = "";
      this.message = "";
      this.error = false;
      this.select = null;
      this.checkbox = null;
    },

    login() {
      this.loading = true;
      // this.loadModal= true
      // this.$validator.validateAll()
      axios
        .post("/api/login", this.form)
        .then(res => {
          this.loading = false;
          // this.loadModal= false
          jwtToken.setToken(res.data.token);
          this.setAuthUser(res.data.user);
          window.localStorage.setItem(
            "currEntry",
            JSON.stringify(res.data.user)
          );
          //store language to local storage
          // Redirect home.
          this.$router.push({
            name: "home",
            query: {newLogin: 1}
          });
        })
        .catch(err => {
          this.error = true;
          this.message = err.response.data.message;
          // this.loadModal= false
          this.loading = false;
        });
    }
  }
};
</script>

<style scoped>
.text-right {
  text-align: right;
}
</style>
